<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Todo一覧</title>
  </head>
  <body>
    <h1>Todo一覧</h1>
    <ul>
      <% for (let todo of todos) { %>
      <li><%= todo.todo %></li>
      <% } %>
    </ul>
    <a href="/new">新しく追加</a>
  </body>
</html>
